body {
    height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0px;
    color: white;
    background-color: hsl(0, 100%, 74%);
    background-image: url(./images/bg-intro-desktop.png);
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
}

.left {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-left: 30px;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 580px;
    margin: auto;
}

.row {
    display: flex;
    width: 100%;
    justify-content: center;
}

.fs-12 {
    font-size: 12px;
}

.content {
    padding: 80px;
}

.card {
    border-radius: 5px;
    background-color: white;
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.bold {
    font-weight: bold;
}

.mt-5 {}

.lred {
    color: hsl(0, 100%, 74%);
    cursor: pointer;
}

.tc {
    color: grey;
    font-size: x-small;
    text-align: center;
}

.hero-btn {
    background-color: hsl(154, 59%, 51%);
    width: 98%;
    color: white;
    border-radius: 5px;
    border: 1px solid transparent;
    height: 45px;
    font-weight: 700;
    cursor: pointer;
    margin-left: 3px;
}

.hero-btn:focus,
.hero-btn:hover {
    box-shadow: 0px 0px 0px 0px #2196f380;
}

.input-box {
    width: 80%;
    border-radius: 5px;
    border: 1px solid #a7aaae87;
    height: 30px;
    padding: 5px;
    font-weight: 600;
    color: #585151;
    padding-left: 30px;
    margin-left: 18px;
    margin-left: 3px;
    padding-right: 30px;
}

.error {
    width: 20px;
    height: 20px;
    margin: auto;
    margin-left: -30px;
}

.input-box:focus {
    box-shadow: 0px 0px 3px 3px #2196f380;
}

.sticker {
    background-color: hsl(248, 32%, 49%);
    border-radius: 5px;
    width: 350px;
    height: 45px;
    /* margin-bottom: 30px; */
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
    margin: 5px;
}

.disp-inline {
    display: inline;
    text-align: center;
}

.error-text {
    color: red;
    font-size: xx-small;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: 5px;
    font-style: italic;
}

.error-input {
    border: 1px solid red;
}

.hide {
    display: none;
}

.mycol {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 650px) {
    .input-box {
        margin-right: 0px;
    }
    .main {
        flex-direction: column;
    }
    .error-text {
        margin-right: 15px;
    }
    .content {
        padding: 0;
        text-align: center;
    }
    .left {
        width: 80%;
        padding: 0;
    }
    .row {
        padding-right: 5px;
        width: auto;
    }
    .mt-5 {
        margin-top: 5px;
    }
    .right {
        width: auto;
        padding: 0px;
        /* justify-content: space-between; */
        height: -webkit-fill-available;
    }
    .sticker {
        width: 80%;
        font-size: 12px;
    }
    .card {
        border-radius: 5px;
        background-color: white;
        height: 400px;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 5px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .hero-btn {
        width: 97%;
    }
    .error {
        margin-left: -25px;
    }
}

.card-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}