.cards {
  margin: auto;
  justify-content: space-evenly;
}
.card-div {
  border: 0px solid white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.6s;
  cursor: pointer;
  background: white;
  text-align: center;
}

body {
  height: 100vh;
  font-family: "Lexend", sans-serif !important;
  background-color: #000000 !important;
}
.main {
  height: 95%;
}
svg {
  height: 50px;
  width: 100%;
}
footer {
  height: 5%;
  color: white;
}
.svg1 {
  margin-top: 10px;
}
.price {
  font-size: x-large;
}
.micon {
  color: #09d209;
}
.min-pad {
  padding: 10px;
}
.myjumbo {
  margin: 30px;
  padding: 15px !important;
}
.make-big {
  transform: scale(1.2);
}
@media screen and (max-height: 450px) {
  .make-big {
    transform: scale(1.03);
  }
  .card-div {
    transition: transform 0.3s;
  }
}
@media screen and (min-width: 900px) {
  .card-div {
    width: 250px !important;
  }
}
h4 {
  color: white;
  text-align: center;
  font-size: xx-large;
}
